<template>
  <b-nav tabs>
    <b-nav-item
      exact
      to="/"><code>.gitlab-ci.yml</code></b-nav-item>
    <b-nav-item
      exact
      to="/ast">AST</b-nav-item>
    <b-nav-item
      exact
      to="/mermaid">mermaid</b-nav-item>
    <b-nav-item
      exact
      to="/visualization">visualization</b-nav-item>
  </b-nav>
</template>
